<div fxLayout="column">
  <div fxLayout="row" fxFlex="50%">
  <mat-card fxFlex="50%">
    <mat-card-header>
      <mat-icon mat-card-avatar>flight</mat-icon>
      <mat-card-title>{{fareResponse.origin.code}}</mat-card-title>
      <mat-card-subtitle>{{fareResponse.origin.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{fareResponse.origin.description}}</p>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="50%">
    <mat-card-header>
      <mat-icon mat-card-avatar>flight</mat-icon>
      <mat-card-title>{{fareResponse.destination.code}}</mat-card-title>
      <mat-card-subtitle>{{fareResponse.destination.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{fareResponse.destination.description}}</p>
    </mat-card-content>
  </mat-card>
  </div>
  <mat-card fxFlex="100%">
    <mat-card-content>
      <p class="text-center">
        {{fareResponse.fare.amount | currency : fareResponse.fare.currency}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
